<h1 id="tableLabel">Student List</h1>

<p *ngIf="!students"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular" target="_blank">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table class="table table-dark" *ngIf="students">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.age }}</td>
      <td>
        <button (click)="viewStudent(student.id)">View</button>
        <button (click)="editStudent(student.id)">Edit</button>
        <button (click)="deleteStudent(student.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
