
<div class="card">
  <div class="card-header">
    Student List
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-hover table-striped" *ngIf="students">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <th scope="row">{{ student.id }}</th>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="viewStudent(student.id)">View</button>
              <button type="button" class="btn btn-warning" (click)="editStudent(student.id)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

